.hero {
	height: 50dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 1rem 5rem;
	border-bottom: 1px solid var(--olive);
}

.heading {
	font-size: 6rem;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	color: var(--olive);
}

.intro {
	padding: 2rem 5rem;
	border-bottom: 1px solid var(--olive);
}

.info {
	margin-top: 1rem;
	font-size: 1rem;
	color: var(--olive);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	padding: 0 5rem;
	border-bottom: 1px solid var(--olive);
}

.content {
	height: 100%;
	flex: 1;
	padding: 2rem;
	border: 1px solid var(--olive);
	border-top: none;
	border-bottom: none;
}

.title {
	font-size: 1.5rem;
}

.text {
	margin-top: 1rem;
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--olive);
}

.hww {
	padding: 2rem 5rem;
	border-bottom: 1px solid var(--olive);
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
		margin-top: 1rem;
		padding: 0;
		border: none;
	}
	.content {
		height: 100%;
		flex: 1;
		padding: 2rem;
		border: 1px solid var(--olive);
	}
}

.faqs {
	padding: 2rem 5rem;
	border-bottom: 1px solid var(--olive);
}

details {
	margin-top: 1rem;
}

.question {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--olive);
	cursor: pointer;
}

.answer {
	margin-top: 0.5rem;
	font-size: 1rem;
	color: var(--olive);
}

@media screen and (max-width: 480px) {
	.hero {
		padding: 0 2rem;
	}
	.heading {
		font-size: 4rem;
	}
	.intro {
		padding: 2rem;
	}
	.title {
		font-size: 1.2rem;
	}
	.text {
		font-size: 0.8rem;
	}
	.grid {
		padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    .content{
      border-top: 1px solid var(--olive);
      border-bottom: 1px solid var(--olive);
    }
	}
	.hww {
		padding: 2rem;
		.grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
			margin-top: 2rem;
		}
	}
	.faqs {
		padding: 2rem;
	}
	details {
		margin-top: 1rem;
	}
	.question {
		font-size: 1rem;
	}
	.answer {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 960px) and (min-width: 481px) {
	.hero {
		padding: 0 2rem;
	}
	.heading {
		font-size: 5rem;
	}
	.intro {
		padding: 2rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.text {
		font-size: 1rem;
	}
	.grid {
		padding: 0 2rem;
    gap: 2rem;
	}
	.hww {
		padding: 2rem;
		.grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
			margin-top: 2rem;
		}
	}
	.faqs {
		padding: 2rem;
	}
	details {
		margin-top: 1rem;
	}
	.question {
		font-size: 1.2rem;
	}
	.answer {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1366px) {
	.hero {
		padding: 0 10rem;
	}
	.heading {
		font-size: 5rem;
	}
	.intro {
		padding: 5rem 10rem;
	}
	.title {
		font-size: 2rem;
	}
	.text {
		font-size: 1rem;
	}
	.grid {
		padding: 0 10rem;
	}
	.hww {
		padding: 5rem 10rem;
		.grid {
			margin-top: 2rem;
		}
	}
	.faqs {
		padding: 5rem 10rem;
	}
	details {
		margin-top: 1.5rem;
	}
	.question {
		font-size: 1.5rem;
	}
	.answer {
		font-size: 1.2rem;
	}
}
