footer {
	height: 100dvh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 5rem;
}

.container {
	flex: 1;
	height: 100%;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid var(--olive);
	&:last-child {
		border-right: none;
	}
	.txt {
		text-transform: uppercase;
		color: var(--green);
	}
	&:first-child {
		padding-right: 2rem;
	}
	&:nth-child(2) {
		padding: 2rem;
	}
	&:last-child {
		padding-left: 2rem;
	}
}

.all {
	flex: 3;
}

.footer-img {
	width: 10rem;
	height: auto;
	object-fit: cover;
	object-position: center;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	.txt {
		font-size: 0.8rem;
		text-wrap: nowrap;
		border-bottom: 1px solid var(--olive);
	}
}

input {
	padding: 0.2rem 0;
	font-size: 0.8rem;
	color: var(--olive);
	background-color: var(--white);
	border: none;
	border-bottom: 1px solid var(--olive);
	text-align: left;
	&:focus {
		outline: none;
	}
	&::placeholder {
		color: var(--olive);
	}
}

.up,
.down {
	display: flex;
	justify-content: space-between;
}

.down {
	align-items: end;
}

.down .text {
	font-size: 0.8rem;
	color: var(--olive);
}

.links {
	.txt {
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
	}
}

.link {
	width: max-content;
	font-size: 0.8rem;
	text-transform: capitalize;
	border-bottom: 1px solid var(--white);
	color: var(--olive);
	cursor: pointer;
	transition: border-bottom 0.3s ease;
	&:hover {
		border-bottom: 1px solid var(--olive);
	}
}

@media screen and (max-width: 480px) {
  footer {
	  display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .container{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--olive);
  	padding: 2rem 0;
  	&:first-child {
  		padding-right: 0;
  	}
  	&:nth-child(2) {
  		padding: 2rem 0;
  	}
  	&:last-child {
  		padding-left: 0;
  	}
  }
	form .txt {
		font-size: 1rem;
	}
	input {
		font-size: 1rem;
	}
  .down {
    margin-top: 10dvh;
  }
	.down .text {
		font-size: 0.8rem;
	}
	.links .txt {
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
	}
	.link {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 960px) and (min-width: 481px) {
  footer {
	  display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .container{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--olive);
  	padding: 2rem 0;
  	&:first-child {
  		padding-right: 0;
  	}
  	&:nth-child(2) {
  		padding: 2rem 0;
  	}
  	&:last-child {
  		padding-left: 0;
  	}
  }
	form .txt {
		font-size: 0.8rem;
	}
	input {
		font-size: 0.8rem;
	}
  .down {
    margin-top: 10dvh;
  }
	.down .text {
		font-size: 0.8rem;
	}
	.links .txt {
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
	}
	.link {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1366px) {
  footer {
    padding: 0 10rem;
  }
  .container{
  	padding: 5rem 0;
  	&:nth-child(2) {
  		padding: 5rem 2rem;
  	}
  }
	.footer-img {
		width: 15rem;
	}
	form .txt {
		font-size: 1.2rem;
	}
	input {
		font-size: 1.2rem;
	}
	.down .text {
		font-size: 1rem;
	}
	.links .txt {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
	.link {
		font-size: 1rem;
	}
}