@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --olive: #3a3a1f;
  --white: #fff;
  --green: #7c877f;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  font-size: 16px;
}

.btn {
  width: max-content;
  padding: 0.5rem 1rem;
  font-style: 1.2rem;
  text-transform: uppercase;
  border: 1px solid var(--green);
  border-radius: 2rem;
  color: var(--olive);
  background-color: var(--white);
  cursor: pointer;
}

.btn:hover {
  color: var(--white);
  background-color: var(--olive);
  transition: color 1s ease, background-color 0.2s linear;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: var(--olive);
}