header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--olive);
  background-color: var(--white);
  z-index: 999;
}

.logo {
  height: auto;
  width: 10rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  position: relative;
  font-weight: 300;
  color: var(--olive);
}

.nav-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--olive);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.menu-link {
  display: none;
  cursor: pointer;
  color: var(--olive);
}

@media screen and (max-width: 480px) {
  header {
    padding: 1rem 2rem;
  }
  .nav-links {
    display: none;
  }
  .menu-link {
    display: inline-block;
  }
}

@media screen and (max-width: 960px) and (min-width: 481px) {
  header {
    padding: 1rem 3rem;
  }
  .nav-links {
    display: none;
  }
  .menu-link {
    display: inline-block;
  }
}

@media screen and (min-width: 1366px) {
  header{
    padding: 1rem 10rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
}