.hero {
  height: 100dvh;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: var(--olive);
}

.tagline {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--olive);
}

.hero-btn {
  margin-top: 1rem;
  color: var(--olive);
  background-color: var(--white);
}

.hero-btn:hover {
  color: var(--white);
  background-color: var(--olive);
  transition: color 1s ease, background-color 0.2s linear;
}

.intro-vid {
  height: 100dvh;
  width: 100%;
}

video {
  height: 100dvh;
  width: 100%;
  object-fit: cover;
}

.description {
  height: 40dvh;
  width: 100%;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--olive);
}

.texts {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.txt {
  font-size: 1rem;
  color: var(--olive);
}

.work {
  height: 80dvh;
  width: 100%;
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid var(--olive);
}

.work-info {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5rem;
  border-right: 1px solid var(--olive);
}

.tag,
.cat-q {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--green);
}

.work-name {
  font-size: 2rem;
  line-height: 1;
  text-transform: capitalize;
  color: var(--olive);
}

.type {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--olive);
}

.work-slider {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 0 5rem 0 0;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-img {
  height: 100%;
  width: auto;
  object-position: center;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 1rem 5rem 4rem;
  border-bottom: 1px solid var(--olive);
}

.service-img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.service-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: capitalize;
  color: var(--olive);
}

footer {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.container {
  flex: 1;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--olive);
  &:last-child {
    border-right: none;
  }
  .txt {
    text-transform: uppercase;
    color: var(--green);
  }
  &:first-child {
    padding-right: 2rem;
  }
  &:nth-child(2) {
    padding: 2rem;
  }
  &:last-child {
    padding-left: 2rem;
  }
}

.all {
  flex: 3;
}

.footer-img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  .txt {
    font-size: 0.8rem;
    text-wrap: nowrap;
    border-bottom: 1px solid var(--olive);
  }
}

input {
  padding: 0.2rem 0;
  font-size: 0.8rem;
  color: var(--olive);
  background-color: var(--white);
  border: none;
  border-bottom: 1px solid var(--olive);
  text-align: left;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--olive);
  }
}

.up,
.down {
  display: flex;
  justify-content: space-between;
}

.down {
  align-items: end;
}

.down .text {
  font-size: 0.8rem;
  color: var(--olive);
}

.links {
  .txt {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}

.link {
  width: max-content;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-bottom: 1px solid var(--white);
  color: var(--olive);
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  &:hover {
    border-bottom: 1px solid var(--olive);
  }
}